@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryViewModel
@{
    ViewData["Title"] = "Index";
    //ViewBag.Title = "Tabel carti";

}

<h2> Index</h2>
<!--<p> Avem 10 carti in biblioteca</p>
    <p> Data: @DateTime.Now </p> -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td> @book.Author</td>
            </tr>
            
        }
    </tbody>
</table>
